@using FastFoodWeb.Models
@model Food

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details Page";
}

<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>Shop Details</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="product-details-section pt-100 pb-70 bg-black">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
                    <div class="product-details-item">
                        <div class="product-details-slider">
                            <div class="product-details-for popup-gallery">
                                <div class="product-for-item">
                                    <img src="@Model.Image" alt="product">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
                    <div class="product-details-item">
                        <div class="product-details-caption">
                            <div class="product-status product-status-danger mb-20">
                                New
                            </div>
                            <h3 class="mb-20 color-white">@Model.Name</h3>
                            <div class="product-details-price mb-20">
                                <h4>$ @Model.Price</h4>
                            </div>
                            <div class="product-details-para mb-20">
                                <p>@Model.FoodDescription</p>
                            </div>
                            <div class="product-action-info mb-20">
                                <div class="d-flex flex-wrap align-items-center
                                    product-quantity">
                                    <button class="btn btn-icon product-quantity-item addCart" value="@Model.Id">
                                        Add To Cart
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="product-action-info">
                                <div class="product-add-wishlist">
                                @if (ViewBag.IsWish == true)
                                {
                                    <button style="color: red"><i class="fa fa-heart"></i>Add To Wishlist</button>
                                } else
                                {
                                    <button class="addWish" value="@Model.Id"><i class="fa fa-heart"></i>Add To Wishlist</button>
                                }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-tab below-border">
                <ul class="product-details-tab-list">
                    <li class="active" data-product-tab-list="1">Description</li>
                </ul>
                <div class="product-tab-information">
                    <div class="product-tab-information-item active" data-product-details-tab="1">
                        <div class="product-description mb-30">
                            <p>@Model.FoodDescription</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-product mt-50">
                <div class="sub-section-title">
                    <h3 class="color-white">Related Items</h3>
                </div>
                <div class="receipe-grid receipe-grid-three">
                    @foreach (Food food in @ViewBag.RelatedFoods)
                   {
                       <div class="receipe-item receipe-item-black pb-30">
                        <div class="receipe-item-inner">
                            <div class="receipe-image">
                                <img src="@food.Image" alt="receipe">
                            </div>
                            <div class="receipe-content">
                                <div class="receipe-info">
                                    <h3><a href="/Home/Details/@food.Id">@food.Name</a></h3>
                                    <h4>$ @food.Price</h4>
                                </div>
                                <div class="receipe-cart receipe-cart-main">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                   }
                </div>
            </div>
        </div>
    </div>