@using FastFoodWeb.Models
@model List<Food>

@{
    ViewData["Title"] = "Shop Page";
}

<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>Shop</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="shop-section pt-100 pb-70 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 pb-30">
                    <div class="product-list-header">
                        <div class="product-list-header-item">
                            <div class="product-list-result">
                                <p>Showing 1-@ViewBag.MaxPage</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="row">
                            @foreach (Food food in Model)
                           {
                            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
                                <div class="product-card product-card-dark">
                                    <div class="product-card-thumb">
                                        <div class="product-card-thumb-inner">
                                            <img src="@food.Image" alt="product">
                                            <div class="product-card-button">
                                                <button class="btn btn-yellow addCart" value="@food.Id">Add To Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card-content">
                                        <h3><a href="/Home/Details/@food.Id">@food.Name</a></h3>
                                        <h4 class="product-price">$ @food.Price</h4>
                                    </div>
                                </div>
                            </div>
                           }
                            
                        </div>
                        <div class="page-pagination">
                            <nav aria-label="pagination">
                                <ul class="pagination justify-content-center">
                                @if(ViewBag.Page > 1)
                                {
                                    <li class="page-item ">
                                        <a class="page-link" href="/Home/Shop/@ViewBag.CategoryId/@(ViewBag.Page - 1)/@ViewBag.Info"><i class="fa fa-arrow-left"></i></a>
                                    </li>
                                }
                                @for (var i = ViewBag.Page - 2; i <= ViewBag.Page + 2; i++)
                                {
                                    if (i > 0 && i <= ViewBag.MaxPage)
                                    {
                                        if (@ViewBag.Page == @i)
                                        {
                                            <li class="page-item active"><a class="page-link" href="/Home/Shop/@ViewBag.CategoryId/@i/@ViewBag.Info">@i</a></li>
                                        } else
                                        {
                                            <li class="page-item"><a class="page-link" href="/Home/Shop/@ViewBag.CategoryId/@i/@ViewBag.Info">@i</a></li>
                                        }
                                    }

                                }
                                @if(ViewBag.Page < ViewBag.MaxPage)
                                {
                                    <li class="page-item ">
                                        <a class="page-link" href="/Home/Shop/@ViewBag.CategoryId/@(ViewBag.Page + 1)/@ViewBag.Info"><i class="fa fa-arrow-right"></i></a>
                                    </li>
                                }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 pb-30">
                    <div class="sidebar-item around-border sidebar-search">
                        <form action="/Home/Shop/@ViewBag.CategoryId/1" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="info" placeholder="Search">
                                <button><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-item">
                        <div class="sidebar-title">
                            <h3 class="color-white">Categories</h3>
                        </div>
                        <ul class="sidebar-list">
                            @foreach (Category category in ViewBag.Categories)
                            {
                            <li>
                              <a href="/Home/Shop/@category.Id/1/@ViewBag.Info">@category.Name</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>