@using FastFoodWeb.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Cart Page";
}


<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
                <div class="header-page-shape-item">
                    <img src="~/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">

                </div>
            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>Cart</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/MyAccount/Profile">My Account</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <section class="cart-section pt-100 pb-70 bg-black">
        <div class="container">
            <form action="/MyAccount/UpdateCart" method="post">
                <div class="cart-table cart-table-dark">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Product</th>
                                <th>Id</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            double total = 0;
                        }
                        @foreach (Cart cart in JsonConvert.DeserializeObject<List<Cart>>(HttpContextAccessor.HttpContext.Session.GetString("Carts")))
                        {
                                @(total += (cart.Quantity * cart.Food.Price))
                            <tr>
                                <td class="cancel"><a href="/MyAccount/RemoveCart/@cart.Id"><i class='fa fa-times'></i></a></td>
                                <td>
                                    <div class="product-table-info">
                                        <div class="product-table-thumb">
                                            <img src="@cart.Food.Image" alt="product">
                                        </div>
                                    </div>
                                </td>
                                <td class="td-product-name">@cart.Food.Name</td>
                                <td>@cart.Id</td>
                                <td>$ @cart.Food.Price</td>
                                <td>
                                    <div class="cart-quantity">
                                        <div class="qu-btn dec">-</div>
                                        <input type="text" class="qu-input" name="quantity-@cart.Id" value="@cart.Quantity">
                                        <div class="qu-btn inc">+</div>
                                    </div>
                                </td>
                                <td class="td-total-price">$ @(cart.Food.Price * cart.Quantity)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                
                </div>
                <div class="row justify-content-between align-items-center mt-30">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="cart-update cart-info-item">
                            <button class="btn full-width">
                                Update Cart
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6 pb-30 offset-lg-3 offset-md-2">
                    <div class="cart-details mt-20">
                        <h3 class="cart-details-title color-white">Cart Totals</h3>
                        <div class="cart-total-box">
                            <div class="cart-total-item cart-total-bold">
                                <h4 class="color-white">Total</h4>
                                <p>$ @total</p>
                            </div>
                        </div>
                        <a href="/MyAccount/Checkout" class="btn">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
