@using FastFoodWeb.Models
@model List<Order>

<div class="header-bg header-bg-page">
        <div class="header-padding position-relative">
            <div class="header-page-shape">
                <div class="header-page-shape-item">
                    <img src="assets/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="assets/images/header-shape-2.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="assets/images/header-shape-3.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                    <img src="assets/images/header-shape-1.png" alt="shape">
                </div>
                <div class="header-page-shape-item">
                </div>
                <div class="header-page-shape-item">
                    <img src="assets/images/header-shape-1.png" alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="header-page-content">
                    <h1>My Orders</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Orders</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="account-page-section pt-100 pb-70 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 pb-30">
                    <div class="account-sidebar around-border">
                        <ul class="account-sidebar-list">
                            <li><a href="/MyAccount/Profile">My Account</a></li>
                            <li class="active"><a href="#">My Orders</a></li>
                            <li><a href="/Log/LogOut">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8 pb-30">
                    <div class="account-info">
                        <div class="my-order">
                            <div class="sub-section-title">
                                <h3 class="color-white">My Orders</h3>
                            </div>
                            <div class="cart-table cart-table-dark mt-20">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Id</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Order order in Model)
                                       {
                                           <tr>
                                            <td>
                                                <div class="product-table-info">
                                                    <div class="product-table-thumb">
                                                        <img src="@order.Food.Image" alt="product">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="td-product-name">@order.Food.Name</td>
                                            <td>@order.Id</td>
                                            <td>@order.Food.Price</td>
                                            <td>@order.Quantity</td>
                                            <td>@order.Address</td>
                                        </tr>
                                       }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>